.contactMe__container {
  background-color: var(--nav-color);
}
.contactMe__data_links {
  display: flex;
  justify-content: space-evenly;
}
.contactMe__data_links a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.contactMe__data_links a:hover {
  color: var(--light-color);
}

@media only screen and (max-width: 600px) {
  .contactMe__data_links {
    flex-direction: column;
  }
}
